@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,500;1,600&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap");


body {
  background-color: antiquewhite;
}
main {
  min-height: 80vh;
}

.card {
  font-family: "Poppins";
  background-color: rgb(4, 7, 49);
  color: white;
}
